{% extends 'index_main.html' %}

{% block content %}
<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>UMG Community</h2>
                <p>This page is currently on build</p>
                <p>Por el momento pongamos cualquier cosa aca jajaja</p>
                <p>Papus trabajando no molestar jaja</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}